/*
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/adc/adc.h>

/ {
    aliases {
        cp-pwm = &cp_pwm;
        cp-adc = &cp_adc;
    };

    cp_pwm: pwm_cp_0 {
        compatible = "zephyr,cp-pwm";
        pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
    };

    cp_adc: cp-adc {
        /* CP front-end is biased/divided to fit SAADC input range. */
        compatible = "zephyr,cp-adc";
        io-channels = <&adc 1>;
    };
};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;

    channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 20)>;
        zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.03 / Arduino A0 */
        zephyr,resolution = <12>;
        zephyr,oversampling = <0>;
    };
};

/* Only needed if you want a different pin than the board default */
&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
            low-power-enable;
        };
    };
};
